{% extends "base.html" %}

{% block content %}
    <style>
        body{
            background-image: url("static/res/edit_pro.png");
            font-family: 'Cairo', sans-serif;
        }
    </style>
    <div class="container-fluid" style="padding-left: 30px;">
        <form action="" method="post" id="form">

            <div class="form-group">
                <label for="username">Edit your username : </label>
                <input type="text" class="form-control" name="username" id="username" value={{name}} style="width: 25%;" disabled>
            </div>
            <div class="form-group">
                <label for="username">Edit your new location : </label>
                <select type="text" class="form-control" name="username" id="location" value={{name}} style="width: 25%;" disabled>

            </div>
            <div class="form-group">
                <label for="username">Edit your username : </label>
                <input type="text" class="form-control" name="username" id="location" value={{name}} style="width: 25%;">
            </div>
            <button style="margin-left: 105px;" type="submit" class="btn btn-primary" form="form" value="Submit" id="button">Submit</button>

    <script>
        var check = function() {
          if (document.getElementById('password').value ==
            document.getElementById('confirm_password').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'matching';
          } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'not matching';
          }
        }
    </script>
            <label>password :
              <input name="password" id="password" type="password" onkeyup='check();' />
            </label>
            <br>
            <label>confirm password:
              <input type="password" name="confirm_password" id="confirm_password" onkeyup='check();'/>
              <span id='message'></span>
            </label>

            <br>
            <button style="margin-left: 105px;" type="submit" class="btn btn-primary" form="form" value="Submit" id="button">Submit</button>
            <br>
        </form>
    </div>
{% endblock %}
