{% extends "base.html" %}

{% block content %}
    <style>
        body{
            background-image: url("static/res/edit_emp2.png");
        }

        .container-fluid{
            font-family: 'QuickSand', sans-serif;
        }
    </style>
    <div class="container-fluid">
       <form action="" method="post" id="form" class="container-fluid">
       <br>
       <label style="color: white" for="choose_employee"><h4>Update Profile with Employee ID :</h4></label>
       <br>
            <select class="custom-select my-1 mr-sm-2" id="choose_employee" name="id" style="width: 250px;">
                {% for i in emp %}
                     <option value={{i.id}}>{{i.username}}  -  {{i.id}}</option>
                {% endfor %}
            </select>
       <button type="submit" form="form" class="btn btn-primary" value="select" name="flag">select</button>

            {% if flag == 1 %}
            <div class="form-group">
            <label>Employee Location</label>
            <select class='form-control' id="location" name="location" style="width: 30%">
                            <option value={{u.location}} selected>{{u.location}}</option>
                            {% for i in l %}
                            <option value='{{ i.value }}'>{{i.value}}</option>
                            {% endfor %}
            </select>
          </div>

            <div class="form-group">
            <label>Practice</label>
            <select id="practice" class="form-control" name="practice" style="width: 30%">
                        <option value={{u.practice}} selected>{{u.practice}}</option>
                            {% for i in p %}
                            <option value='{{ i.value }}'>{{i.value}}</option>
                            {% endfor %}
            </select>
          </div>

           <div class="form-group">
            <label for="manager_id">Employee's Manager ID</label>
                <input type="text" class="form-control" name="manager_id" id="manager_id" value={{u.manager_id}} required style="width: 30%" list="managers" />
                    <datalist id="managers">
                {% for i in emp %}
                     <option value={{i.id}}>{{ i.id }} - {{ i.username }}</option>
                {% endfor %}
                    </datalist>
          </div>
            <br>
            <button style="margin-left:130px;display:block;padding-top: 5px;" type="submit" class="btn btn-primary" form="form" value="submit" name="flag" id="button">Submit</button>
            <br>
            {% endif %}
    </form>
    </div>
{% endblock %}

