{% extends "base.html" %}

{% block content %}
    <style>
        body{
            background-image: url("static/res/update_emp.png");
        }
    </style>
    <div class="container-fluid">
       <form action="" method="post" id="form" class="container-fluid">
       <br>
       <label for="choose_employee"><h4>Update Profile with Employee ID :</h4></label>
       <br>
            <select class="custom-select my-1 mr-sm-2" id="choose_employee" name="id" style="width: 250px;">
                {% for i in emp %}
                     <option value={{i.id}}>{{i.id}}  -  {{i.username}}</option>
                {% endfor %}
            </select>
       <button type="submit" form="form" class="btn btn-primary" value="select" name="flag">select</button>
            {% if flag == 1 %}
          <div class="form-group">
            <label for="name">Employee Name</label>
            <input type="text" class="form-control" name="username" id="name" value={{u.username}} required>
          </div>

          <div class="form-group">
            <label for="mail">Employee Mail</label>
            <input type="email" class="form-control" name="mail" id="mail" value="{{u.email}}" required>
          </div>

            <div class="form-group">
            <label for="name">Employee Location</label>
            <select class='form-control' id="location" name="location">
                            <option value={{u.location}} selected>{{u.location}}</option>
                            <option value="Bangalore">Bangalore</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Pune">Pune</option>
                            <option value="America">USA</option>
            </select>
          </div>

            <div class="form-group">
            <label for="mail">Practice</label>
            <select id="practice" class="form-control" name="practice">
                        <option value={{u.practice}} selected>{{u.practice}}</option>
                        <option value="Atlassian">Atlassian</option>
                        <option value="PowerME">PowerME</option>
                        <option value="Step">Step</option>
                        <option value="Leap">Leap</option>
            </select>
          </div>

           <div class="form-group">
            <label for="manager_id">Employee's Manager ID</label>
                <input type="text" class="form-control" name="manager_id" id="manager_id" value={{u.manager_id}} required list="managers" />
                    <datalist id="managers">
                {% for i in emp %}
                     <option value={{i.id}}>{{ i.id }} - {{ i.username }}</option>
                {% endfor %}
                    </datalist>
          </div>
            <br>
            <button style="margin-left:auto;margin-right:auto;display:block;padding-top: 5px;" type="submit" class="btn btn-primary" form="form" value="submit" name="flag" id="button">Submit</button>
            <br>
            {% endif %}
    </form>
    </div>
{% endblock %}

