{% extends "base.html" %}

{% block content %}
    <style>
        body{
            background-image: url("static/res/edit_emp1.png");
        }

        .container-fluid{
            font-family: 'QuickSand', sans-serif;
        }
    </style>
    <div class="container-fluid">
       <form action="" method="post" id="form" class="container-fluid">
       <br>
       <label style="color: white" for="choose_employee"><h4>Update Profile with Employee ID :</h4></label>
       <br>
            <select class="custom-select my-1 mr-sm-2" id="choose_employee" name="id" style="width: 250px;">
                {% for i in emp %}
                     <option value={{i.id}}>{{i.username}}  -  {{i.id}}</option>
                {% endfor %}
            </select>
       <button type="submit" form="form" class="btn btn-primary" value="select" name="flag">select</button>
            {% if flag == 1 %}
            <div class="form-group">
                <br>
            <label>Employee Location</label>
            <select class='form-control' id="location" name="location" style="width: 30%">
                            <option value={{u.location}} selected>{{u.location}}</option>
                            {% for i in l %}
                            <option value='{{ i.value }}'>{{i.value}}</option>
                            {% endfor %}
            </select>
          </div>

            <div class="form-group">
            <label>Practice</label>
            <select id="practice" class="form-control" name="practice" style="width: 30%">
                        <option value={{u.practice}} selected>{{u.practice}}</option>
                            {% for i in p %}
                            <option value='{{ i.value }}'>{{i.value}}</option>
                            {% endfor %}
            </select>
          </div>

           <div class="form-group">
            <label for="manager_id">Employee's Manager ID</label>
                <input type="text" class="form-control" name="manager_id" id="manager_id" value={{u.manager_id}} required style="width: 30%" list="managers" />
                    <datalist id="managers">
                {% for i in emp %}
                     <option value={{i.id}}>{{ i.id }} - {{ i.username }}</option>
                {% endfor %}
                    </datalist>
          </div>
<!--            <button style="margin-left:130px;display:block;padding-top: 5px;" type="submit" class="btn btn-primary" form="form" value="submit" name="flag" id="button">Submit</button>-->

    </form>
        <button style="margin-left:130px;display:block;padding-top: 5px;" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" name="flag" >Submit</button>
        {% endif %}
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmation message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure about the changes?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" form="form" value="Submit" id="button" name="flag">Save changes</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

