<html>
  <head>
    
  </head>
  <body>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
        
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', 'Python', 'Java'],
          [new Date(2013,09,10),4,5],
          [new Date(2013,09,13),3,4],
          [new Date(2013,09,16),4,4],
          [new Date(2013,09,22),5,4],
          [new Date(2013,09,28),5,5]
        ]);

        var options = {
          title: 'Company Performance',
          hAxis: {title: 'Time',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <div id="chart_div" style="width: 100%; height: 60%;"></div>
  </body>
</html>
