{% extends "base.html" %}

{% block content %}
<style>
    body{
        background-image:  url('static/res/ratings4.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    label{
        color: white;
        font-family: QuickSand;
    }

    #dataTable{
        background-image:  url('static/res/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>
   <form action="{{ url_for('manager_rating') }}" method="post" id="form" class="container-fluid">
       <label for="choose_employee"><h4>Update your rating for :</h4></label>
       <br>
            <select class="custom-select my-1 mr-sm-2" id="choose_employee" name="choose_employee" style="width: 200px;">
                {% for i in emp %}
                     <option value={{i.id}}>{{ i.id }} - {{ i.username }}</option>
                {% endfor %}
            </select>
       <button type="submit" form="form" value="select" name="flag" class="btn btn-primary">select</button>
<!--        <button type="submit" form="form" >Select</button>-->
       <br><br>
       {% if flag == 1 %}
       <table id="dataTable" class="table table-hover rounded shadow-lg p-4 mb-4 bg-white">
            <thead>
                <tr>
                  <th scope="col">Updated Time</th>
                  <th scope="col">Employee Name</th>
                  <th scope="col">Skill</th>
                  <th scope="col">Employee Rating</th>
                  <th scope="col">Manager Rating </th>
                </tr>
            </thead>
            <tbody>
            {% for i in skills %}
                <tr>
                    <td>
                        {{ i.timestamp }}
                    </td>
                    <td>
                        {{ name }}
                    <td>
                        {{ i.skill }}
                    </td>
                    <td>
                        {{ i.emp_rating }}
                    </td>
                    <td>
                        <select class="custom-select my-1 mr-sm-2" id="manager_rating" name= {{"manager_rating"+(i.skill_id|string)}}>
                            <option selected value={{i.manager_rating}}>{{ i.manager_rating }}</option>
                            {% for i in range(1,11) %}
                            <option value='{{ i }}'>{{i}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
     <button type="submit"  data-toggle="modal" data-target="#exampleModal" name="flag" class="btn btn-light" style="margin-left:auto;margin-right:auto;display:block;padding-top: 5px;">Submit</button>
    <br>
    {% endif %}

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmation message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure about the changes?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" form="form" value="Submit" id="button" name="flag">Save changes</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
