{% extends "base.html" %}

{% block content %}
    <style>
        body{
            background-image: url('static/res/new_fields4.png');
            background-size: cover;
        }

        .container{
            font-family: 'QuickSand', sans-serif;
            color: white;
        }
    </style>
    <div class="container">
        <form action="" method="post" id="form" class="container-fluid">
            <div class="form-group">
                <label for="id"><h6>Employee ID : </h6></label>
                <input type="text" class="form-control" name="id" id="id"  style="width: 45%;" required>
            </div>
            <br>
          <div class="form-group">
            <label for="name"><h6>Employee Name : </h6></label>
            <input type="text" class="form-control" name="username" id="name" style="width: 45%;" required>
          </div>
            <br>
          <div class="form-group">
            <label for="mail"><h6>Employee Mail : </h6></label>
            <input type="email" class="form-control" name="mail" id="mail" style="width: 45%;" required>
          </div>
            <br>
            <div class="form-group">
                <label for="name"><h6>Employee Location : </h6></label>
            <select class='form-control' id="location" name="location" style="width: 45%;">
                            <option value="Select" selected disabled>Select...</option>
                            {% for i in l %}
                            <option value='{{ i.value }}'>{{i.value}}</option>
                            {% endfor %}
            </select>
          </div>
            <br>
            <div class="form-group">
            <label for="mail"><h6>Practice : </h6></label>
            <select id="practice" class="form-control" name="practice" style="width: 45%;">
                        <option value="Select" selected disabled>Select...</option>
                            {% for i in p %}
                            <option value='{{ i.value }}'>{{i.value}}</option>
                            {% endfor %}
            </select>
          </div>
            <br>
           <div class="form-group">
            <label for="manager_id"><h6>Employee's Manager ID : </h6></label>
                <input type="text" class="form-control" name="manager_id" id="manager_id" required style="width: 45%;" list="managers" />
                    <datalist id="managers">
                {% for i in emp %}
                     <option value={{i.id}}>{{ i.id }} - {{ i.username }}</option>
                {% endfor %}
                    </datalist>
          </div>
            <br>
            <button style="margin-left:200px;margin-right:auto;display:block;padding-top: 5px;" type="submit" class="btn btn-primary" form="form" value="Submit" id="button">Submit</button>
            <br>
        </form>
    </div>
{% endblock %}
