<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <script>
           function  check(){
            var firstInput = document.getElementById("new_pass").value;
            var secondInput = document.getElementById("new_pass1").value;

            if (firstInput !== secondInput) {
                alert("Inputs dont match")
            }
        }
        </script>
        <label for="old_pass"> Password:</label>
        <input type="text" id="old_pass">
        <br>
        <label for="new_pass">New Password:</label>
        <input type="text" id="new_pass">
        <br>
        <label for="new_pass1">Repeat New Password:</label>
        <input type="text" id="new_pass1"> 
        <br>
        <button onclick="check()">Submit</button>
    </body>
</html>