{% extends "base.html" %}

{% block content %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" rel="stylesheet">
    <style>
        body{
            background-image: url("{{url_for('static', filename='res/search2.png')}}");
            background-repeat: no-repeat;
            background-size: cover;
            font-family: 'Cairo', sans-serif;
        }

        tbody{
            background-color: white;
        }
    </style>
    <script language="javascript">
        function addRow(tableID)
        {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);
            var colCount = table.rows[0].cells.length;
            for(var i=0; i<colCount; i++)
            {
                var newcell = row.insertCell(i);
                newcell.innerHTML = table.rows[1].cells[i].innerHTML;
                if(i==0){
                    newcell.children[0].setAttribute("name","skills"+rowCount)
                    }
                else if(i==1){
                    newcell.children[0].setAttribute("name","experience"+rowCount)
                    }
                else if(i==2){
                    newcell.children[0].setAttribute("name","rating"+rowCount)
                    }
                else if(i==3){
                    newcell.children[0].setAttribute("name","interest"+rowCount)
                    }
                else{
                    newcell.children[0].setAttribute("name","chk"+rowCount)
                }
                console.log(newcell.children[0])
            }
        }
        function deleteRow(tableID) {
            try {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            var colcnt = 3
            for(var i=0; i<rowCount; i++) {
                var row = table.rows[i];
                var chkbox = row.cells[3].childNodes[0];
                if(null != chkbox && true === chkbox.checked)
                {
                    if(rowCount <= 2)
                    {
                        alert("Cannot delete all the rows.");
                        break;
                    }
                    table.deleteRow(i);
                    rowCount--;
                    i--;
                }
            }
            var table = document.getElementById(tableID);
            for (var i = 0, row; row = table.rows[i]; i++) {
                  row.id="row"+i;
               for (var j = 0, col; col = row.cells[j]; j++) {
                 col.id="col"+i;
                 if(j==0)
                 {
                 }
                 else if(j==1)
                 {
                }
               }
            }
            }catch(e) {
                alert(e);
            }
        }
    </script>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <link href="https://code.jquery.com/jquery-3.3.1.js">
    <link href="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
    <link href="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js">
    <form action="" method="post" id="form" class="container-fluid">
        <div style="height:180px;overflow:auto;">
            <table id="dataTable" class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                  <th scope="col"><h5>Skills</h5></th>
                  <th scope="col"><h5>Experience</h5></th>
                  <th scope="col"><h5>Rating(on a scale of 10)</h5></th>
                  <th scope="col"><h5>Interest(on a scale of 5)</h5></th>
                  <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select class="form-control" id="skills" name="skills1" style="width: 120px">
                            <option value="any" selected>Any</option>
                            {% for i in s %}
                            <option value='{{ i.value }}'>{{i.value}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="text" id="experience" class="form-control" name="experience1" value="0" style="width: 220px" required>
                    </td>
                    <td>
                        <select class="form-control" id="rating" name="rating1" style="width: 80px">
                            <option value="0" selected>0</option>
                            {% for i in range(1,11) %}
                            <option value='{{ i }}'>{{i}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select class="form-control" id="interest" name="interest1" style="width: 80px">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                    <td id="col_0_0"><input type="checkbox" name="chk"></td>
                </tr>
            </tbody>
        </table>

        </div>
        <input style="margin-top: 10px;" type="button" class="btn btn-light" value="Add Skill" onclick="addRow('dataTable')">
        <input style="margin-top: 10px;" type="button" class="btn btn-light" value="Delete Skill" onclick="deleteRow('dataTable')">
        <br>
    </form>
    <button style="margin-left:auto;margin-right:auto;display:block;padding-top: 5px;" type="submit" class="btn btn-primary" form="form" value="Submit" id="button">Search</button>
    <br>
        <script>
        function myFunction() {
          var table, tr, i;
          input0 = document.getElementById("id");
          input1 = document.getElementById("name");
          input2 = document.getElementById("mail");
          input3 = document.getElementById("practice");
          input4 = document.getElementById("loc");
          // input5 = document.getElementById("stat");
          // input5 = document.getElementById("avgrating");
          filter0 = input0.value.toUpperCase();
          filter1 = input1.value.toUpperCase();
          filter2 = input2.value.toUpperCase();
          filter3 = input3.value.toUpperCase();
          filter4 = input4.value.toUpperCase();
          // filter5 = input5.value.toUpperCase();
          // filter5 = input5.value.toUpperCase();
          table = document.getElementById("results");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td0 = tr[i].getElementsByTagName("td")[0];
            td1 = tr[i].getElementsByTagName("td")[1];
            td2 = tr[i].getElementsByTagName("td")[2];
            td3 = tr[i].getElementsByTagName("td")[3];
            td4 = tr[i].getElementsByTagName("td")[4];
            // td5 = tr[i].getElementsByTagName("td")[5];
            // td6 = tr[i].getElementsByTagName("td")[6];
            if (td1 || td0 || td2 || td3 || td4|| td5 ) {
              txt0 = td0.textContent || td0.innerText;
              txt1 = td1.textContent || td1.innerText;
              txt2 = td2.textContent || td2.innerText;
              txt3 = td3.textContent || td3.innerText;
              txt4 = td4.textContent || td4.innerText;
              // txt5 = td5.textContent || td5.innerText;
              // txt6 = td6.textContent || td6.innerText;
              if (txt0.toUpperCase().indexOf(filter0) > -1 && txt1.toUpperCase().indexOf(filter1) > -1 && txt2.toUpperCase().indexOf(filter2) > -1 && txt3.toUpperCase().indexOf(filter3) > -1 && txt4.toUpperCase().indexOf(filter4) > -1 && txt5.toUpperCase().indexOf(filter5) > -1)
              {
                  tr[i].style.display = "";
              }
              else
              {
                  tr[i].style.display = "none";
              }
            }
          }
        }
        </script>
        <div class="container-fluid">
         <table id="results" class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th style="width: 140px;"><input type="text" class="form-control" placeholder="Employee ID" id="id" data-toggle="tooltip" data-placement="top" title="Filter by Employee ID's" onkeyup="myFunction()" style="width: 100%;"></th>
                    <th style="width: 160px;"><input type="text" class="form-control" placeholder="Employee Name" id="name" data-toggle="tooltip" data-placement="top" title="Filter by Employee Name"onkeyup="myFunction()" style="width: 100%;"></th>
                    <th style="width: 280px;"><input type="text" class="form-control" placeholder="Employee e-mail" id="mail" data-toggle="tooltip" data-placement="top" title="Filter by Employee mail" onkeyup="myFunction()" style="width: 100%;"></th>
                    <th><input type="text" class="form-control" placeholder="Practice" id="practice" onkeyup="myFunction()" data-toggle="tooltip" data-placement="top" title="Filter by practice"style="width: 100%;"></th>
                    <th><input type="text" class="form-control" placeholder="Location" id="loc" onkeyup="myFunction()" data-toggle="tooltip" data-placement="top" title="Filter by location" style="width: 100%;"></th>
<!--                    <th><input type="text" class="form-control" placeholder="Avg rating" id="avgrating" onkeyup="myFunction()" data-toggle="tooltip" data-placement="top" title="Filter by Rating" style="width: 90%;"></th>-->
<!--                    <th><input type="text" class="form-control" placeholder="Avg rating" id="avgrating" onkeyup="myFunction()" style="width: 100%;"></th>-->
                    <th></th>
                    <th></th>
                    <th></th>
                    <th style="width: 120px;"><img src="../static/res/funnel.png" style="width: 23px; height: 27px; padding-bottom: 4px;"></th>
                </tr>
                <tr>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Employee e-mail</th>
                    <th scope="col">Practice</th>
                    <th scope="col">Location</th>
                    <th scope="col">Industry Experience</th>
                    <th scope="col">Avg Interest(on a scale of 5)</th>
                    <th scope="col">Avg Rating(on a scale of 10)</th>
                    <th scope="col">Statistics</th>
                </tr>
            </thead>
            <tbody>
            {% for i in result %}
                <tr>
                    <td>{{ i[0].id }}</td>
                    <td>{{ i[0].username }}</td>
                    <td>{{ i[0].email }}</td>
                    <td>{{ i[0].practice }}</td>
                    <td>{{ i[0].location }}</td>
                    <td>{{ i[0].overall_exp }}</td>
                    <td>{{ i[2] }}</td>
                    {% if i[1] == 1 %}
                    <td>{{ i[3] }}  ( <a href="#" style="color: red" data-toggle="popover" title="Manager didn't yet rate his skills" data-content="Manager didn't yet rate his skills"><span>&#33;</span></a> )</td>
                    {% else %}
                    <td>{{ i[3] }}</td>
                    {% endif %}
                    <td><a href="{{ url_for('emp_stats', id=i[0].id ) }}">Check Stats</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
{% endblock %}
