{% extends "base.html" %}

{% block content %}
    <script language="javascript">
        function addRow(tableID)
        {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);
            var colCount = table.rows[0].cells.length;
            for(var i=0; i<colCount; i++)
            {
                var newcell = row.insertCell(i);
                newcell.innerHTML = table.rows[1].cells[i].innerHTML;
                if(i==0){
                    newcell.children[0].setAttribute("name","skills"+rowCount)
                    }
                else if(i==1){
                    newcell.children[0].setAttribute("name","experience"+rowCount)
                    }
                else{
                    newcell.children[0].setAttribute("name","rating"+rowCount)
                    }
                console.log(newcell.children[0])
            }
        }
        function deleteRow(tableID) {
            try {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            var colcnt = 3
            for(var i=0; i<rowCount; i++) {
                var row = table.rows[i];
                var chkbox = row.cells[3].childNodes[0];
                if(null != chkbox && true === chkbox.checked)
                {
                    if(rowCount <= 2)
                    {
                        alert("Cannot delete all the rows.");
                        break;
                    }
                    table.deleteRow(i);
                    rowCount--;
                    i--;
                }
            }
            var table = document.getElementById(tableID);
            for (var i = 0, row; row = table.rows[i]; i++) {
                  row.id="row"+i;
               for (var j = 0, col; col = row.cells[j]; j++) {
                 col.id="col"+i;
                 if(j==0)
                 {
                 }
                 else if(j==1)
                 {
                }
               }
            }
            }catch(e) {
                alert(e);
            }
        }
    </script>
    <form action="" method="post" id="form" class="container-fluid">
        <table id="dataTable" class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                  <th scope="col">Skills</th>
                  <th scope="col">Experience</th>
                  <th scope="col">Rating</th>
                  <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select class='select' id="skills" name="skills1">
                            <option value="" selected>Any</option>
                            <option value="Java">Java</option>
                            <option value="Python">Python</option>
                            <option value="Scala">Scala</option>
                            <option value="Angular">Angular</option>
                            <option value="JS">JS</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" id="experience" name="experience1" value="0">
                    </td>
                    <td>
                        <select class='select' id="rating" name="rating1">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                    <td id="col_0_0"><input type="checkbox" name="chk"></td>
                </tr>
            </tbody>
        </table>
        <input type="button" value="Add Skill" onclick="addRow('dataTable')">
        <input type="button" value="Delete Skill" onclick="deleteRow('dataTable')">
        <br><br>
    </form>
    <button type="submit" form="form" value="Submit" >Search</button>
    <div class="container-fluid">
        <div>
            <br>
        <select class='select' id="filter_loc" name="rating1">
            <option value="Bangalore">Bangalore</option>
            <option value="Hyderabad">Hyderabad</option>
            <option value="San Jose">San Jose</option>
            <option value="Pune">Pune</option>
            <option value="Amsterdam">Amsterdam</option>
        </select>
        <select class='select' id="filter_practice" name="rating1">
            <option value="PowerME">PowerME</option>
            <option value="Step">Step</option>
            <option value="Leap">Leap</option>
            <option value="Atlassian">Atlassian</option>
            <option value="Cisco">Cisco</option>
        </select>
        </div>
        <br>
         <table id="results" class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Employee e-mail</th>
                    <th scope="col">Practice</th>
                    <th scope="col">Location</th>
                    <th scope="col">Statistics</th>
                </tr>
            </thead>
            <tbody>
            {% for i in result %}
                <tr>
                    <td>{{ i[0].emp_id }}</td>
                    <td>{{ i[0].username }}</td>
                    <td>{{ i[0].email }}</td>
                    <td>{{ i[0].practice }}</td>
                    <td>{{ i[0].location }}</td>
                    <td>{{ i[1] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
