{% extends "base.html" %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
<style>
        body{
                background-image: url('static/res/update_skill1.png') ;
               font-family: 'Rubik', sans-serif;
        }

        #dataTable{
            background-image: url("static/res/bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
        }

        #skillsTable{
            background-image: url("static/res/bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
        }

            label{
            color:white;
            font-family: 'QuickSand';
        }
    </style>
    <script language="javascript">
        function addRow(tableID)
        {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            console.log(rowCount)
            var row = table.insertRow(rowCount);
            var colCount = table.rows[0].cells.length;
            for(var i=0; i<colCount; i++)
            {
                var newcell = row.insertCell(i);
                newcell.innerHTML = table.rows[1].cells[i].innerHTML;
                if(i==0){
                    newcell.children[0].setAttribute("name","skills"+rowCount)
                    }
                else if(i==1){
                    newcell.children[0].setAttribute("name","experience"+rowCount)
                     }
                else if(i==2){
                    newcell.children[0].setAttribute("name","rating"+rowCount)
                    }
                else if(i==3){
                    newcell.children[0].setAttribute("name","interest"+rowCount)
                    }
                else{
                    newcell.children[0].setAttribute("name","chk"+rowCount)
                }
                console.log(newcell.children[0])
            }
        }
        function deleteRow(tableID) {
            try {
                var table = document.getElementById(tableID);
                var rowCount = table.rows.length;
                var colcnt = document.getElementById(tableID).rows[0].cells.length
                for (var i = 0; i < rowCount; i++) {
                    var row = table.rows[i];
                    var chkbox = row.cells[colcnt-1].childNodes[0];
                    if (null != chkbox && true === chkbox.checked) {
                        if (rowCount <= 2) {
                            alert("Cannot delete all the rows.");
                            break;
                        }
                        table.deleteRow(i);
                        rowCount--;
                        i--;
                    }
                }
                var table = document.getElementById(tableID);
                for (var i = 0, row; row = table.rows[i]; i++) {
                    row.id = "row" + i;
                    for (var j = 0, col; col = row.cells[j]; j++) {
                        col.id = "col" + i;
                        if (j == 0) {
                        } else if (j == 1) {
                        }
                    }
                }
            } catch (e) {
                alert(e);
            }
        }
    </script>
    <form action="" method="post" id="form" class="container-fluid">
        <label id="1" for="skillsTable"><h4>Skills Present:</h4></label>
        <table id="skillsTable" class="table table-hover shadow-lg p-4 mb-4 bg-white">
            <thead>
                <tr>
                  <th scope="col" style="width: 330px;"><h5>Skills</h5></th>
                  <th scope="col" style="width: 390px;"><h5>Experience</h5></th>
                  <th scope="col"><h5>Rating(on a scale of 10)</h5></th>
                  <th scope="col"><h5>Interest(on a scale of 5)</h5></th>
                </tr>
            </thead>
            <tbody>
            {% for i in range(0,len) %}
                <tr>
                    <td>
                        {{skills[i].skill}}
                    </td>
                    <td>
                        {% if skills[i].skill_exp == 1 %}
                        {{skills[i].skill_exp}} year
                        {% else %}
                        {{skills[i].skill_exp}} years
                        {% endif %}
                    </td>
                    <td>
                        {{skills[i].emp_rating}}
                    </td>
                    <td>
                        {{skills[i].skill_interest}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <label for="dataTable"><h4>Update Skills:</h4></label>
        <div style="height:180px;overflow:auto;">
            <table id="dataTable" class="table table-hover shadow-lg p-4 mb-4 bg-white">
            <thead>
                <tr>
                  <th scope="col"><h5>Skills</h5></th>
                  <th scope="col"><h5>Experience</h5></th>
                  <th scope="col"><h5>Rating(on a scale of 10)</h5></th>
                  <th scope="col"><h5>Interest(on a scale of 5)</h5></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select class='form-control' id="skills" name="skills1">
                            <option value="Select" selected disabled>Select</option>
                            {% for i in s %}
                            <option value='{{ i.value }}'>{{i.value}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control" id="experience" name="experience1" value="0" required>
                    </td>
                    <td>
                        <select class="select form-control"  id="rating" name="rating1">
                            <option value="0" selected>0</option>
                            {% for i in range(1,11) %}
                            <option value='{{ i }}'>{{i}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select class="select form-control"  id="interest" name="interest1">
                            <option value="0" selected>1</option>
                            {% for i in range(2,6) %}
                            <option value='{{ i }}'>{{i}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td id="col_0_0"><input type="checkbox" name="chk1"></td>
                </tr>
            </tbody>
        </table>
        </div>
        <br>
        <input type="button" class="btn btn-light" value="Add Skill" onclick="addRow('dataTable')" style="margin-right:3px;font-family: Cairo">
        <input type="button" class="btn btn-light" value="Delete Skill" onclick="deleteRow('dataTable')" style="font-family: Cairo">
        <br><br>
    </form>
<!--    <button type="submit" form="form" value="Submit" id="button">Submit</button>-->
    <button style="margin-left:auto;margin-right:auto;display:block;padding-top: 5px;font-family: Cairo" type="submit" class="btn btn-light"  data-toggle="modal" data-target="#exampleModal">Submit</button>
    <br>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmation message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure about the changes?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" form="form" value="Submit" id="button">Save changes</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
