{% extends "base.html" %}

{% block content %}
    <style>
        body{
                background-image: url('static/res/update_skill1.png') ;
                font-family: 'Cairo', sans-serif;
        }


        thead{
            background-color: gainsboro;
        }

        tbody{
            background-color: white;
        }

        table.table-bordered{
        border:1px solid grey;
      }

        table.table-bordered > thead > tr > th{
        border:1px solid grey;
    }

        table.table-bordered > tbody > tr > td{
        border:1px solid grey;
    }
            label{
            color:white;
            font-family: 'QuickSand';
        }
    </style>
    <script language="javascript">
        function addRow(tableID)
        {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            console.log(rowCount)
            var row = table.insertRow(rowCount);
            var colCount = table.rows[0].cells.length;
            for(var i=0; i<colCount; i++)
            {
                var newcell = row.insertCell(i);
                newcell.innerHTML = table.rows[1].cells[i].innerHTML;
                if(i==0){
                    newcell.children[0].setAttribute("name","skills"+rowCount)
                    }
                else if(i==1){
                    newcell.children[0].setAttribute("name","experience"+rowCount)
                     }
                else if(i==2){
                    newcell.children[0].setAttribute("name","rating"+rowCount)
                    }
                else{
                    newcell.children[0].setAttribute("name","chk"+rowCount)
                }
                console.log(newcell.children[0])
            }
        }
        function deleteRow(tableID) {
            try {
                var table = document.getElementById(tableID);
                var rowCount = table.rows.length;
                for (var i = 0; i < rowCount; i++) {
                    var row = table.rows[i];
                    var chkbox = row.cells[3].childNodes[0];
                    if (null != chkbox && true === chkbox.checked) {
                        if (rowCount <= 2) {
                            alert("Cannot delete all the rows.");
                            break;
                        }
                        table.deleteRow(i);
                        rowCount--;
                        i--;
                    }
                }
                var table = document.getElementById(tableID);
                for (var i = 0, row; row = table.rows[i]; i++) {
                    row.id = "row" + i;
                    for (var j = 0, col; col = row.cells[j]; j++) {
                        col.id = "col" + i;
                        if (j == 0) {
                        } else if (j == 1) {
                        }
                    }
                }
            } catch (e) {
                alert(e);
            }
        }
    </script>
    <form action="" method="post" id="form" class="container-fluid">
            <label id="1" for="skillsTable"><h4>Skills Present:</h4></label>
        <table id="skillsTable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                  <th scope="col"><h5>Skills</h5></th>
                  <th scope="col"><h5>Experience</h5></th>
                  <th scope="col"><h5>Rating</h5></th>
                </tr>
            </thead>
            <tbody>
            {% for i in range(0,len) %}
                <tr>
                    <td>
                        {{skills[i].skill}}
                    </td>
                    <td>
                        {{skills[i].skill_exp}} years
                    </td>
                    <td>
                        {{skills[i].emp_rating}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <label for="dataTable"><h4>Update Skills:</h4></label>
        <table id="dataTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                  <th scope="col"><h5>Skills</h5></th>
                  <th scope="col"><h5>Experience</h5></th>
                  <th scope="col"><h5>Rating</h5></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select class='form-control' id="skills" name="skills1">
                            <option value="Select" selected disabled>Select</option>
                            <option value="Java">Java</option>
                            <option value="Python">Python</option>
                            <option value="Scala">Scala</option>
                            <option value="Angular">Angular</option>
                            <option value="JS">JS</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control" id="experience" name="experience1" value="0" required>
                    </td>
                    <td>
                        <select class="select form-control"  id="rating" name="rating1">
                            <option value="0" selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                    <td id="col_0_0"><input type="checkbox" name="chk1"></td>
                </tr>
            </tbody>
        </table>
        <input type="button" class="btn btn-light" value="Add Skill" onclick="addRow('dataTable')">
        <input type="button" class="btn btn-light" value="Delete Skill" onclick="deleteRow('dataTable')">
        <br><br>
    </form>
<!--    <button type="submit" form="form" value="Submit" id="button">Submit</button>-->
    <button style="margin-left:auto;margin-right:auto;display:block;padding-top: 5px;" type="submit" class="btn btn-light" form="form" value="Submit" id="button">Submit</button>
    <br>
{% endblock %}
